.contactInfo {
    margin-bottom: 15px;
}

.emailInput, .phoneInput {
    font-size: 16px;
    border: 0;
    color: black;
    
}

.emailInputDiv, .phoneInputDiv {
    display: flex;
    gap: 2px;
    flex-direction: column;
    
    
}

.emailInput.showNice, .phoneInput.showNice {
    background: transparent;
}