.educationContainer {
    background-color: pink;
    outline: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    position: relative;
    width: 75%;
}

.addEducationExp {
    position: relative;
    right: 0%;
    margin-bottom: 10px;
    position: absolute;

}

.eduExpDetails {
    width: 75%;
}

.eduCard {
    display: flex;
    flex-direction: column;
    outline: 2px dotted blue;
    background-color: rgba(245, 245, 220, 0.411);
    padding: 5px;
    width: 100%;
   
}

.topContainer {
    display: grid;
    grid-template-columns: 10fr 1fr 2fr 1fr 2fr;
    gap: 5px;
    align-items: center;
    flex-wrap: nowrap;
    word-wrap: normal;
    position: relative;
}



h4, h3 {
    margin: 0;
}

.jobOverview {
    resize: both;
}



