.eduCard {
    display: flex;
    flex-direction: column;
    outline: 2px dotted blue;
    background-color: rgba(245, 245, 220, 0.411);
    padding: 5px;
    width: auto;
   
}

.testClass {
    display: grid;
    grid-template-columns: 10fr 1fr 2fr 1fr 2fr;
    gap: 5px;
    align-items: center;
    flex-wrap: nowrap;
    word-wrap: normal;

}

.institutionName {

}

.dateFrom, .dateUntil {
   

}

h4, h3 {
    margin: 0;
}