.modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(119, 117, 117, 0.699);
}

.workExpModal, .editWorkExpModal, .editEducationModal{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    background: grey;
    margin: auto;
    padding: 2%;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 2px solid black;
}

.editWorkExpModal, .editEducationModal, .workExpModal {
    height: fit-content;
    width: fit-content;
}

textarea {
    resize: both;
}

.workExpModal {
    position: relative;
    
}

.modalLabel {
    display: flex;
    /* gap: 15rem; */
    align-items: center;

}

/* .companyInput, .dateFrom, .dateUntil, .jobTitle{
    position: absolute;
    right: 2%;
} */

.jobOverview {
    height: 1rem;
}